<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.ssm.mapper.TokenMapper">
    <sql id="column">
        id,
        user_id,
        token,
        end_time
    </sql>


    <select id="findByUserId" resultType="Token">
        select
            <include refid="column"/>
        from
            exp_token
         where
            user_id = #{userId}
    </select>
    <insert id="insert">
        insert
        into
        exp_token(
         user_id,
         token,
         end_time
        ) values (
            #{userId},
            #{token},
            #{endTime}
        )
    </insert>
    <update id="update">
        update
            exp_token
        <set>
            token = #{token},
            end_time = #{endTime}
        </set>
    </update>
    <select id="findByToken" resultType="Token">
        select
        <include refid="column"/>
        from
        exp_token
        where
        token = #{token}
    </select>
</mapper>